<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- The index page shows a list of all users, each page having 30 users. 30 entries is the default -->
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
